/* General Styles for Navbar */
.navbar {
    position: fixed; /* Esto lo hace fijo */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0; /* Asegura que esté alineado a la izquierda */
    width: 100%; /* Asegura que ocupe todo el ancho de la página */
    z-index: 1000; /* Se asegura de que esté sobre otros elementos */
    background-color: rgb(9, 8, 20); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 8px;
  }
  .navbar-content {
    display: flex;
    justify-content: center; /* Asegura que el logo esté centrado */
  }
  
  .star-wars-logo {
    width: 400px; /* Ajusta el tamaño del logo */
    height: auto;  /* Mantén las proporciones */
  }
  
  body {
    background-color: rgb(9, 8, 20); /* Fondo oscuro para el cuerpo */
    color: white; /* Color del texto en blanco */
    margin-top:400px;

    padding: 0; /* Elimina relleno por defecto */
  }
  

  @font-face {
    font-family: "Star Jedi"; 
    src: url("../../docs/assets/fonts/Starjedi.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
  }

  h1{
    font-family: "Star Jedi", sans-serif;
  }